

/* overall */

html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: capitalize;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

/* header */

header {
  height: 31rem;
  width: 100%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.head-container {
  width: 960px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  background-color: cadetblue;
}
/*Logo*/
.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 1rem;
  width: auto;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo h3 {
  font-weight: normal;
}

/*Nav-bar*/
nav {
  display: inline-flex;
}

nav a {
  text-decoration: none;
  margin: 0;
}

nav h3 {
  margin-right: 2rem;
}

nav span:nth-child(0n+4) {
  display: none;
}

/*Container in header */

.text-block {
  width: 960px;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-top: 10rem;
}

.text-container {
  background-color: white;
}

.text-container h1{
  margin: 1.5rem 5rem;
}

/* Main */

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.box1 {
  width: 960px;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.exams, .fittings, .delivery {
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.fittings {
  margin: 0 6rem;
}

.exams img {
  width: 3.5rem;
  height: auto;
}

.fittings img, .delivery img {
  width: 5rem;
  height: auto;
}

.box2 {
  width: 960px;
  height: auto;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.philosophy, .appointments {
  width: 35%;
  height: auto;
}

.philosophy {
  margin-right: 5%;
}

.philosophy-header, .appointments-header {
  background-color: cadetblue;
  width: 10rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.philosophy h3, .appointments h3 {
  margin: 0.5rem 0 0.5rem 1.25rem
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: 960px;
  height: auto;
  background-color: azure;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4rem 0;
}

.footer-logo img {
  height: 1.5rem;
  width: auto;
  margin: 4rem 1rem 4rem 4rem;
}

/*Responisive */
 /* ipad landscape */
@media only screen and (min-width: 630px) and (max-width: 1024px) {

  header {
    width: 100%;
    height: 22rem;
  }

  .head-container {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .text-block {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  .text-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 2rem;
  }

  .text-container h1 {
    font-size: 1.33rem;
    margin: 0.75rem 4rem;
  }

  main {
    width: 100%;
    height: auto;
  }

  .box1 {
    width: 100%;
    height: auto;
  }

  .box2 {
    width: 100%;
    height: auto;
  }

  footer {
    width: 100%;
    height: auto;
  }
}

/*monbile phone */
@media only screen and (max-width: 629px) {

  header {
    width: 100%;
    height: 17rem;
    background-position: 20%;
  }

  .head-container {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  nav span:nth-child(-n+3) {
    display: none;
  }

  nav span:nth-child(0n+4) {
    display: inherit;
  }

  .text-block {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 9rem 0 0 0;
  }

  .text-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .text-container h1 {
    font-size: 1.33rem;
    margin: 1rem 0;
  }

  main {
    width: 100%;
    height: auto;
  }

  .box1 {
    width: 100%;
    height: auto;
    margin: 3.77rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box1 h5 {
    font-size: 0.77rem;
  }

  .exams, .fittings, .delivery {
    justify-content: space-around;
  }

  .box2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .philosophy, .appointments {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .philosophy {
    margin-bottom: 4rem;
  }

  .philosophy-header, .appointments-header {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .philosophy h3, .appointments h3 {
    margin: 0.5rem 0;
    text-align: center;
  }

  .philosophy p, .appointments p {
    width: 90%;
    height: auto;
    font-size: 0.77rem;
  }

  footer {
    width: 100%;
    height: auto;
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-logo img {
    margin: 4rem 0;
  }

  .footer-logo h4 {
    display: none;
  }
}
